%table
  %thead
    %th
      - if type == :received
        From
      User ID
    %th
      Amount
    %th
      Received at
  %tbody
    - transactions.each do |t|
      %tr
        %td
          - if type == :sent
            = t.to_user_id
          - else
            = t.user_id
        %td
          = raw number_to_carbonz_weight(t.amount)
        %td
          = t.created_at.try(:localtime)
